@import "tailwindcss";

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-family: "Space Grotesk", sans-serif;
		background-color: black;
	}

	.no-scrollbar {
		overflow: auto; /* or scroll if needed */
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE 10+ */
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Edge */
	}
}

@font-face {
	font-family: "Clash Display";
	font-weight: 700;
	font-style: normal;
	src: url('../assets/fonts/ClashDisplay-Bold.woff2') format('woff2');
}

@font-face {
	font-family: "Clash Display";
	font-weight: 500;
	font-style: normal;
	src: url('../assets/fonts/ClashDisplay-Medium.woff2') format('woff2');
}

@font-face {
	font-family: "Clash Display";
	font-weight: 600;
	font-style: normal;
	src: url('../assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
}

@font-face {
	font-family: "Clash Display";
	font-weight: 400;
	font-style: normal;
	src: url('../assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
}
